@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');



:root {
    --clr-header-bg: #27282b;
    --clr-header-font: #7c7c7c;
    --clr-sidebar-bg: #232325;

    --clr-text-lv1: #fdfeff;
    --clr-text-lv2: #d3d3d3;
    --clr-text-lv3: #969799;
    --clr-text-lv4: #6d6d6d;
    --clr-text-lv5: #474747;



    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --sidebar-inner-padding: 1.5rem;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: lightgray;
}



/* HEADER */
.header {
    background-color: var(--clr-header-bg); 
    height: 3rem;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header .container .title {
    font-size: 2.25rem;
    font-weight: var(--fs-bold);
    letter-spacing: .1rem;
    color: var(--clr-header-font); 
}



/* MAIN */
main {
    height: calc(100% - 3rem);
}

/* SIDE BAR */
.side-bar {
    background-color: var(--clr-sidebar-bg); 
    width: 15rem;
    height: 100%;
}



.side-bar .image-div {
    background: grey; /*CHANGE*/
    height: 15rem;
    width: 15rem;
    border: 2px solid white;
    border-radius: 2px;
}



.side-bar .container {
    padding: var(--sidebar-inner-padding);

}



.side-bar .container .account-info {
    display: flex;
    flex-direction: column;
}

.account-info .username {
    font-size: 1.25rem;
    font-weight: var(--fs-semi-bold);
    color: var(--clr-text-lv1);
}

.account-info .level {
    font-weight: var(--fs-light);
    color: var(--clr-text-lv4);
    font-size: .8rem;
}

.account-info .currency {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.account-info .coins {
    color: white; /* CHANGE */
    font-size: .9rem;
}

.account-info .gems {
    color: white; /* CHANGE */
    font-size: .9rem;
}



.side-bar .container .player-status {
    /* background-color: rgb(45, 189, 52);  */
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

.name {
    padding-left: .25rem;
    padding-bottom: .1rem;
    color: var(--clr-text-lv2);
    font-size: .8rem;
    opacity: .75;
}

.bar {
    height: .55rem;
    border-radius: 1rem;
}
.player-status .health-box .bar {
    background-color: red;
}

.player-status .exp-box .bar {
    background-color: gold;
}

.status {
    text-align: right;
    padding-right: .25rem;
    padding-top: .05rem;
    font-size: .7rem;
    font-weight: var(--fs-light);
    color: var(--clr-text-lv4);

}



/* side-bar MENU NAV */
.side-bar .menu-nav {
    padding: 1.5rem 0;
}

.menu-nav nav hr {
    color: var(--clr-text-lv5);
    border-radius: 1rem;
}

.menu-nav nav a {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color: var(--clr-text-lv4);
}