@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

@media (max-height: 730px) {
  body {
    height: 100%;
  }
}
.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: radial-gradient(#6d6d6d, #27282b);
}
.game-section .game-health-bar {
  width: 100%;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(202, 49, 49);
}
.game-section .bullets svg {
  max-width: 1.5rem;
}
.game-section .enemy-layout, .game-section .player-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.game-section .game-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 62%;
  margin-top: 1rem;
}
.game-section .game-buttons button {
  padding: 3rem 4rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 20px #272729, -2px -2px 20px #7c7d7e;
  background-color: #969799;
}
.game-section .game-buttons button:hover {
  background: linear-gradient(145deg, #5f6061, #bdbfc2);
}
.game-section .game-buttons button:active {
  box-shadow: none;
  background: linear-gradient(145deg, #3c3c3d, #676869);
}
.game-section .game-buttons button:disabled {
  background: linear-gradient(145deg, #3d3d41, #5f4a4a);
}

.enemy-status-box, .player-status-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  padding: 1rem 1.5rem;
  border: 0.25rem solid #232325;
  border-radius: 0.5rem;
  background-color: #343536;
}
.enemy-status-box .name, .player-status-box .name {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #fdfeff;
}
.enemy-status-box .life-info, .player-status-box .life-info {
  text-align: right;
  color: #969799;
  padding-bottom: 0.05rem;
}
.enemy-status-box .bullets, .player-status-box .bullets {
  display: flex;
  align-items: center;
  text-align: right;
  padding-left: 0.25rem;
}
.enemy-status-box .bullets svg, .player-status-box .bullets svg {
  fill: #969799;
}
.enemy-status-box .bullets span, .player-status-box .bullets span {
  font-weight: 500;
  padding-left: 0.2rem;
  color: #d3d3d3;
}
.enemy-status-box .health-related, .player-status-box .health-related {
  display: flex;
  flex-direction: column-reverse;
}
.enemy-status-box .health-related .life-info, .player-status-box .health-related .life-info {
  font-size: 0.9rem;
  padding-right: 0.25rem;
}

.player-layout {
  margin-right: 10rem;
}
.player-layout .player-status-box {
  align-self: flex-end;
}
.player-layout .choice {
  top: 0;
  right: -0.75rem;
}

.enemy-layout {
  margin-left: 10rem;
}
.enemy-layout .game-image {
  transform: scaleX(-1);
}
.enemy-layout .choice {
  top: -1.75rem;
  right: 8.5rem;
}

.enemy-layout, .player-layout {
  padding: 2rem;
  padding-top: 0;
}
.enemy-layout .game-image-box, .player-layout .game-image-box {
  position: relative;
}
.enemy-layout .game-image-box .game-image, .player-layout .game-image-box .game-image {
  height: 12rem;
}
.enemy-layout .game-image-box .choice, .player-layout .game-image-box .choice {
  position: absolute;
}
.enemy-layout .game-image-box .choice img, .player-layout .game-image-box .choice img {
  width: 5rem;
  opacity: 0.8;
}

main {
  grid-template-columns: 15rem auto 15rem;
}
main .side-bar .container .btn-box {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .side-bar .container .btn-box .btn {
  font-weight: 500;
  display: block;
  width: 80%;
  padding: 0.7rem;
  text-align: center;
  border: none;
  border-radius: 5rem;
}
main .side-bar .container .btn-box .btn.new-g {
  background-color: #969799;
}
main .side-bar .container .btn-box .btn.new-g:hover {
  background-color: #474747;
  color: #d3d3d3;
  transition: 0.2s;
}
main .side-bar .container .btn-box .btn.quit-g {
  background-color: rgb(150, 72, 72);
}
main .side-bar .container .btn-box .btn.quit-g:hover {
  color: rgb(235, 7, 7);
  background-color: rgb(71, 28, 28);
  transition: 0.2s;
}
main .info-bar {
  background-color: #343536;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .info-bar .title {
  color: #fdfeff;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.25rem;
  padding-top: 0.5rem;
}
main .info-bar .info-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .info-bar .info-box .subtitle {
  color: #d3d3d3;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
main .info-bar .info-box .enemy-info-box .enemy-data .enemy-name {
  font-size: 0.9rem;
  color: #969799;
}
main .info-bar .info-box .enemy-info-box .enemy-data .enemy-level {
  font-size: 0.75rem;
  color: #6d6d6d;
}
main .info-bar .info-box .enemy-info-box .enemy-drops-box {
  display: flex;
  align-items: center;
  color: #969799;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  fill: #6d6d6d;
}
main .info-bar .info-box .enemy-info-box .enemy-drops-box button {
  border: none;
  background-color: transparent;
}
main .info-bar .info-box .enemy-info-box .enemy-drops-box button:hover {
  fill: #969799;
}
main .info-bar .info-box .loot-info-box .info-loot {
  color: #969799;
  font-size: 0.9rem;
}
main .info-bar .info-box .loot-info-box .show-loot {
  margin-top: 0.5rem;
  border: none;
  background-color: transparent;
  color: #969799;
  font-size: 0.9rem;
}
main .info-bar .info-box .loot-info-box .show-loot:hover {
  color: #d3d3d3;
}
main .info-bar .info-box .checkpoint-info-box .checkpoint-info {
  font-size: 0.9rem;
  color: #969799;
}

/*# sourceMappingURL=styles.css.map */
